@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:800|Noto+Serif+SC");
/* --------------------------------

xBackground

-------------------------------- */
body {
  /* this is the page background */
  background-color: #e4dfda;
}

/* --------------------------------

xNavigation

-------------------------------- */
header {
  background-color: #4281a4;
  margin: 0px;
}

@media only screen and (min-width: 700px) {
  header {
    background-color: #48a9a6;
  }
}
/* --------------------------------

xPage title

-------------------------------- */
header[role=banner] {
  padding: 10px;
}

header {
  padding: 10px 10px 0px 10px;
}

main > h1 {
  color: #e4dfda;
}

h3 {
  color: #e4dfda;
}

.summary {
  background-color: #4281a4;
  margin: 0px;
}

.preamble {
  background-color: #d4b483;
}

.explanation {
  background-color: #c1666b;
}

.participation {
  background-color: #48a9a6;
}

.benefits {
  background-color: #4281a4;
}

.requirements {
  background-color: #c1666b;
}

div[role=article] {
  padding: 10px;
  display: grid;
}

.preamble, .explanation, .participation, .benefits, .requirements {
  margin: 10px;
}

@media only screen and (min-width: 700px) {
  body::before {
    content: "";
    width: 350px;
    height: 2650px;
    background-color: #4281a4;
    position: absolute;
    z-index: 1;
  }

  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    z-index: 2;
  }

  .intro {
    grid-column: 2/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
  }

  header {
    grid-column: 1/7;
  }

  .summary {
    background-color: #48a9a6;
    grid-column: 1/7;
    margin-bottom: 25px;
  }

  .preamble {
    background-color: #d4b483;
    grid-column: 1/8;
    margin: 0;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 25px;
  }

  .mainsupporting {
    grid-column: 2/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
  }

  .explanation {
    background-color: #c1666b;
    grid-column: 2/8;
    margin-bottom: 25px;
  }

  .participation {
    background-color: #48a9a6;
    grid-column: 1/8;
    margin-bottom: 25px;
  }

  .benefits {
    background-color: #4281a4;
    grid-column: 2/8;
    margin-bottom: 25px;
  }

  .requirements {
    background-color: #c1666b;
    grid-column: 1/7;
    margin-bottom: 25px;
  }
}
/* --------------------------------

xTypography

-------------------------------- */
#typography {
  background-color: #c1666b;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
  color: #e4dfda;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #e4dfda;
}

p {
  font-size: 18px;
  line-height: 1.2em;
  color: #e4dfda;
}
p a {
  color: #d4b483;
  text-decoration: underline;
}
p a:link, p a:visited, p a:hover, p a:active {
  color: #d4b483;
  text-decoration: underline;
}

a {
  color: #e4dfda;
  text-decoration: underline;
}

.sidebar .wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}
.sidebar .wrapper .design-selection {
  order: 3;
}
.sidebar .wrapper .design-archives {
  order: 1;
}
.sidebar .wrapper .zen-resources {
  order: 2;
}

/* designs*/
.design-selection h3 {
  display: none;
  color: #4281a4;
}
.design-selection ul {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  margin-left: 0px;
  transition: all 1s ease-out;
}
.design-selection ul li {
  width: 90px;
  height: 90px;
  position: relative;
  margin: 10px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 1s ease-out;
}
.design-selection ul li a {
  opacity: 0;
  transition: all 1s ease-out;
}
.design-selection ul li:hover {
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}
.design-selection ul li:hover::before {
  opacity: 0;
}
.design-selection ul li:hover:nth-of-type(n) {
  color: #e4dfda;
}
.design-selection ul li:hover a {
  opacity: 1;
  transition: all 1s ease-out;
}
.design-selection ul li:hover a::after {
  content: " ";
}
.design-selection ul li:nth-of-type(1)::before {
  transition: all 1s ease-out;
  position: absolute;
  z-index: 4;
  content: "1";
  font-size: 5em;
  color: #e4dfda;
  margin: auto;
}
.design-selection ul li:nth-of-type(2)::before {
  transition: all 1s ease-out;
  position: absolute;
  z-index: 4;
  content: "2";
  font-size: 5em;
  color: #e4dfda;
  margin: auto;
}
.design-selection ul li:nth-of-type(3)::before {
  transition: all 1s ease-out;
  position: absolute;
  z-index: 4;
  content: "3";
  font-size: 5em;
  color: #e4dfda;
  margin: auto;
}
.design-selection ul li:nth-of-type(4)::before {
  transition: all 1s ease-out;
  position: absolute;
  z-index: 4;
  content: "4";
  font-size: 5em;
  color: #e4dfda;
  margin: auto;
}
.design-selection ul li:nth-of-type(5)::before {
  transition: all 1s ease-out;
  position: absolute;
  z-index: 4;
  content: "5";
  font-size: 5em;
  color: #e4dfda;
  margin: auto;
}
.design-selection ul li:nth-of-type(6)::before {
  transition: all 1s ease-out;
  position: absolute;
  z-index: 4;
  content: "6";
  font-size: 5em;
  color: #e4dfda;
  margin: auto;
}
.design-selection ul li:nth-of-type(7)::before {
  transition: all 1s ease-out;
  position: absolute;
  z-index: 4;
  content: "7";
  font-size: 5em;
  color: #e4dfda;
  margin: auto;
}
.design-selection ul li:nth-of-type(8)::before {
  transition: all 1s ease-out;
  position: absolute;
  z-index: 4;
  content: "8";
  font-size: 5em;
  color: #e4dfda;
  margin: auto;
}
.design-selection ul li:nth-of-type(4n+0) {
  background-color: #4281a4;
  color: #4281a4;
}
.design-selection ul li:nth-of-type(4n+1) {
  background-color: #48a9a6;
  color: #48a9a6;
}
.design-selection ul li:nth-of-type(4n+2) {
  background-color: #d4b483;
  color: #d4b483;
}
.design-selection ul li:nth-of-type(4n+3) {
  background-color: #c1666b;
  color: #c1666b;
}

/*reactive screen*/
@media only screen and (min-width: 700px) {
  .design-selection {
    margin-left: 360px;
  }
  .design-selection h3 {
    display: block;
  }
}
/*links*/
.design-archives, .zen-resources {
  width: 90%;
  padding: 10px;
  background-color: #48a9a6;
}
.design-archives a, .zen-resources a {
  text-decoration: underline;
  color: #e4dfda;
}
.design-archives h3, .zen-resources h3 {
  color: #e4dfda;
}
.design-archives ul, .zen-resources ul {
  list-style: none;
}

@media only screen and (min-width: 700px) {
  .design-archives, .zen-resources {
    margin-left: 360px;
    width: 300px;
    background-color: #d4b483;
  }
}
footer {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer a {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a:nth-of-type(4n+0) {
  background-color: #4281a4;
}
footer a:nth-of-type(4n+1) {
  background-color: #48a9a6;
}
footer a:nth-of-type(4n+2) {
  background-color: #d4b483;
}
footer a:nth-of-type(4n+3) {
  background-color: #c1666b;
}

/*# sourceMappingURL=style.css.map */
